* {
    box-sizing:border-box;
}
header{
    background:linear-gradient(to top,white,#0000FF);
    position:fixed;
    color:rgb(100,100,100);
    display:block;
    width:100%;
    padding-right: 20px;
    padding-left:20px;
    padding-top:7px;
    padding-bottom:7px;
    height:150px;
}
h1,h2,h3,h4,a{
    font-family: 'Open Sans', sans-serif;

}
p, li{
    font-family: 'Gentium Basic', serif;

}
h1{
    text-align: center;
}
.head{
    display:inline-block;
    height:40px;
    width:40px;
    padding:0px;
    margin-top:10px;
}
.logo{
    background-color:black;
    border:3px solid green;
    color:white;
}
.topnav{
    float:right;
    margin:0px;
    padding:0px;
    
    margin-top:10px;
}

#navigation-burger{
    font-size: 40px;
    padding:0px;
    margin:0px;
}
.dropdown-content{
    display:none;
    position:absolute;
    top:38px;
    right:0px;
    
}
.navlink {
    background-color: rgba(0,0,250,0.9);
    text-align: center;
    list-style-type: none;
    font-size:23px;
    width:110px;
    height:40px;   
    padding: 5px;
    border:1px solid black;
    color:white;
}
.js-hide-me{
    display:none;
}
.navlink:hover{
    background-color: white;
    color:black;
}
.nav-anchor{
    text-decoration: none;
    color:inherit;
    font-family: inherit;
    font-size: inherit
}
.hero{
    text-align: center;
    display:block;
    width:70%;
    height:200px;
    margin-top:150px;
    margin-bottom:50px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    overflow: auto;
    border-bottom:1px rgb(100,100,200) solid;
}
h1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin:0px;
    padding:0px;
}
main{
    padding-top:60px;
    width:100%;

}
.bolder-h1{
    font-style: oblique;
}

.portfolio{
    /*background: linear-gradient(to bottom,white,rgba(0,0,200,0.3),white);*/
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:1100px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:50px;
}
.project{
    height:300px;
    width:300px;
    border:1px red solid;
    padding:10px;
    overflow: auto;
}
.about-me{
    border-top:1px rgb(100,100,200) solid;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    margin-bottom:50px;
    background-color:white;
    height:300px;
    color:black;
    padding:5%;
    overflow: auto;
}

footer{
    background:linear-gradient(to bottom,white,#0000FF);
    height:200px;
    width:100%;
    margin:0;
    padding: 1% 0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
.email{
    height:64px;
    width:64px;
}
.linkedin{
    height:64px;
    width:64px;
}

